<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>

	<key>APP_BUNDLE_ID</key>
	<string>$(APP_BUNDLE_ID)</string>

	<key>API_SCHEME</key>
	<string>$(API_SCHEME)</string>
	<key>API_HOST</key>
	<string>$(API_HOST)</string>
</dict>
</plist>
